:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    /* 移除浏览器默认的黑色轮廓 */
    outline: none !important;
    /* 移除 Tailwind/NextUI 的聚焦光圈 */
    --tw-ring-offset-width: 0px !important;
    --tw-ring-width: 0px !important;
    --tw-ring-color: transparent !important;
    --tw-ring-offset-color: transparent !important;
  }

  /* 专门针对 NextUI 组件的 data 属性覆盖 */
  [data-focus-visible=true] {
    outline: none !important;
    box-shadow: none !important;
  }
}
